Ali Gorgani <ali.gorgani@epfl.ch> <aligorgani2006@gmail.com>
Anthony Tamberg <anthony.tamberg@epfl.ch>
Leoluca Bernardi <leoluca.bernardi@epfl.ch> <leoluca.bernardi@outlook.com>
Mattia Metzler <mattia.metzler@epfl.ch>
