body {
  background-color: #f0f0f0;
}

* {
  font-family: monospace;
  font-size: .9rem;
}

h1 {
  font-size: 2rem;
  padding: 1rem 3rem;
}


#title-bar {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 7rem;
  margin-bottom: 1rem;
}

.state-button {
  margin: 2rem 1rem;
  padding: .5rem 1rem;
  border: 1px solid black;
  border-radius: 7px;
}

.state {
  display: none;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;
  gap: 3rem;
  transition: opacity 200ms;
}

#players-grid {
  grid-row: 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 2rem;
}

.player, #cards {
  display: grid;
  text-align: center;
  grid-template-columns: 1fr;
}

.player {
  grid-template-rows: 2fr 1fr;
  margin: .5rem 1rem;
}

.player#mattia {
  grid-template-rows: 1fr 2fr 1fr;
}

#my-turn .player#mattia, #other-turn .player#mattia {
  grid-template-rows: 2fr 2fr 1fr;
}

#num-bids {
  padding: .3rem;
  background-color: #ffffff;
  border-radius: 7px;
  border: 1px solid black;
  width: 5rem;
}

#submit-bids {
  padding: .3rem; 
  margin: .2rem;

  border: 1px solid black;
  border-radius: 7px;
}

#player-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap;
}

.valid-card, .invalid-card {
  font-size: 2.3rem;
  margin: .4rem;
  padding-bottom: .4rem;
}

.valid-card {
  border-bottom: 2px solid #ecae03;
}

.invalid-card {
  opacity: .4;
  border-bottom: 2px solid #8f8f8f;
}

.player-image {
  align-content: center;
  margin: 1rem 3rem;
  background-color: #50aaff;
  border-radius: 7px;
  font-size: 2rem;
}

.player-image#current-player {
  background-color: #f0ab51;
}

#cards {
  grid-row: 2;
  grid-column: 2;

  border: 1px dashed black;
  border-radius: 7px;
  grid-template-rows: 1fr;
  text-align: center;
  padding: 1rem .7rem;
}

#card-grid {
  display: grid;
  justify-content: center;
  align-items: center;

  gap: 1rem;
  grid-template-columns: 2fr 3fr 2fr;
  grid-template-rows: 2fr 3fr 2fr;
}

#current-trump {
  grid-column: 2;
  grid-row: 2;

  font-size: 3rem;
  opacity: .5;
}

.played-card {
  font-size: 2.3rem;
}

#scoreboard > * {
  margin: 1rem 2rem;
}

#scoreboard h2 {
  font-size: 1.5rem;
  border-bottom: 2px black solid;
}

#scoreboard > div > div {
  margin-left: 1rem;
  display: grid;
  align-items: center;
  grid-template-rows: 1fr;
  grid-template-columns: 3fr 2fr;

}

#end-game {
  background-color: #6e6e6e;
  color: #c0c0c0;
}

#end-game .player-image {
  background-color: #333333;
}

#end-game-splash {
  color: black;
  background-color: #f0f0f0;
  position: fixed;
  top: 60%;
  left: 30%;
  transform: translate(-34%, -65%);
  width: 40%;
  height: 60%;

  border-radius: 7px;
}

#end-game-splash h2 {
  font-size: 2.3rem;
}

#end-game-splash div > div {
  margin-bottom: 1.3rem;
}

#end-game-splash span {
  font-size: 1.4rem;
}

#end-game-splash #scoreboard > div > div {
  grid-template-columns: 3fr 2fr 1fr;
}

#crown {
  font-size: 2rem !important;
}

#end-game-buttons {
  margin-top: 2rem;
}

#end-game-buttons input[type="button"] {
  max-width: 70%;
  margin: 2rem 0;
  padding: .5rem 1rem;

  border: 1px solid black;
  border-radius: 7px;
}